body {
  font-family: 'Didact Gothic', sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-brand {
  font-family: 'Stalemate', cursive;
  font-size: 2em;
}



/*.recipe-pic:hover  {
  
  -webkit-filter: grayscale(0.7) opacity(0.4);
  filter: grayscale(0.7) opacity(0.4);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}*/



